.nav {
  display: flex;
  gap: 20px;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #4d5ae5;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.04);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 24px;
  justify-content: center;
  list-style-type: none;
}

.nav-list:hover {
  color: blue;
}
